<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd ">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" encoding="utf-8">
<head>
	
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="content-language" content="pl" />
<title>Widget Test Page</title>
<meta name="description" content="Page description"/>
<meta name="Keywords" content="keyword1, keyword2"/>
</head>
<body>


<script type="text/javascript" id="Licznik_Widget" src="/?format=js"></script>

</body>
</html>